.recipeTitleBox {
    -fx-border-color: #ebebeb;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10 0 10 0;
}

.recipeTitle  {
    -fx-text-fill: #ebebeb;
    -fx-font-family: "Tw Cen MT Condensed";
    -fx-font-size: 60;
}

.recipe-informationBox {
    -fx-padding: 20 20 20 20;
    -fx-background-color: none;
}

.information {
    -fx-text-fill: #a6a6a6;
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 15;
    -fx-padding: 10 10 10 10;
}

.cookingTime {
    -fx-border-color: #a6a6a6;
    -fx-border-style: solid;
    -fx-border-width: 0 1 0 0;
}

.button-favorite {
    -fx-background-color: none;
    -fx-padding: 5;
}