.recipe-titleBox {
    -fx-border-color: #ebebeb;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10 0 10 0;
}

.recipe-title  {
    -fx-text-fill: #ebebeb;
    -fx-font-family: "Tw Cen MT Condensed";
    -fx-font-size: 60;
    -fx-text-alignment: center;
}

.recipe-informationBox {
    -fx-padding: 20 20 20 20;
    -fx-background-color: none;
}

.information {
    -fx-text-fill: #a6a6a6;
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 15;
    -fx-padding: 10 10 10 10;
}

.cookingTime {
    -fx-border-color: #a6a6a6;
    -fx-border-style: solid;
    -fx-border-width: 0 1 0 0;
}

.button-favorite {
    -fx-background-color: none;
    -fx-padding: 5;
}

.recipe-subTitle {
    -fx-text-fill: #ebebeb;
    -fx-font-family: "Tw Cen MT Condensed";
    -fx-font-size: 40;
    -fx-padding: 10 0 10 0;
}

.recipe-dataBox {
    -fx-padding: 0 0 40 0;
}

.recipe-dataDisplay {
    -fx-spacing: 10;
    -fx-padding: 0 10 0 40;
}

.recipe-step {
    -fx-text-fill: #ebebeb;
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 15;
}

.box-pagination {
    -fx-alignment: center;
    -fx-spacing: 30;
    -fx-padding: 22 15 15 50;
}