#buttonMenu, #buttonProfile {
    -fx-background-color: #bababa;
    -fx-text-fill:  #4a4b4b;
}


#buttonMenu:hover, #buttonProfile:hover {
    -fx-background-color: #949494;
    -fx-text-fill:  #323333;
}

.recipe-content {
    -fx-spacing: 30;
    -fx-padding: 22 15 15 15;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    -fx-border-color: #2e2e2e;
    -fx-background-color: none;
}

.box-pagination {
    -fx-alignment: center;
    -fx-spacing: 30;
    -fx-padding: 22 15 15 50;
}

.button-pagination {
    -fx-background-color: none;
}

.recipe-content-hover {
    -fx-background-color: #2e2e2e;
}

.recipe-title, .recipe-cookingTime, .recipe-servings {
    -fx-text-fill: white;
}

.recipe-title {
    -fx-min-width: 700;
    -fx-max-width: 700;
    -fx-font-family: "Tw Cen MT Condensed";
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.recipe-cookingTime, .recipe-servings {
    -fx-text-alignment: center;
    -fx-text-fill: #ebebeb;
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 20;
    -fx-font-style: italic;
    -fx-padding: 12 20 0 20;
    -fx-border-width: 0 0 0 1;
    -fx-border-style: solid;
    -fx-border-color: #2e2e2e;
}

.recipe-cookingTime {
    -fx-min-width: 110;
    -fx-max-width: 110;
}

.recipe-servings {
    -fx-min-width: 140;
    -fx-max-width: 140;
}

.recipe-information-hover {
    -fx-border-color:  #4a4b4b;
}

.button-favorite {
    -fx-background-color: none;
    -fx-padding: 5;
}

#text-empty-favorites {
    -fx-text-fill: #ebebeb;
    -fx-font-size: 30;
    -fx-font-family: "Tw Cen MT";
    -fx-font-style: italic;
}